#page1 {
   display: block;
}

#page1-5 {
   display: None;
}

#page2 {
   display: None;
}

#page3 {
   display: None;
}

#results > section {
   border: solid 1px #000;
   display: grid;
   grid-row-gap: 10px;
   grid-column-gap: 20px;
   grid-template-areas: 
      "a" "b" "c" "d" "e";
   height: 100%;
}

#gave-address {
   display: None;
}

#no-address {
   display: None;
}

.heading-restaurant {
   display: None;
}

.heading-cafe {
   display: None;
}

.btn {
   background-color: #d1cdcd;
   border: 2px solid black;
   color: rgb(43, 43, 43);
   padding: 2px 5px;
   border-radius: 6px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   font-family: 'Times New Roman', Times, serif
 }

.active-tag {
   background-color: #9361cc;
   color: white;
   border: 2px solid #8b50cf;
   padding: 2px 5px;
   border-radius: 6px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   font-family: 'Times New Roman', Times, serif
}

.menu-btn {
    background-color: #7e32d4;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
 }
 .dropdown-menu {
    position: relative;
    display: inline-block;
 }
 .menu-content-restaurant {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 2px solid #7e32d4;
    color: #7e32d4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 160px;
    z-index: 1;
 }
 .menu-content-cafe {
   display: none;
   flex-direction: column;
   position: absolute;
   background-color: white;
   border: 2px solid #7e32d4;
   color: #7e32d4;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   min-width: 160px;
   z-index: 1;
}
.sort-options1 {
   display: none;
   flex-direction: column;
   position: absolute;
   background-color: white;
   border: 2px solid #7e32d4;
   color: #7e32d4;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   min-width: 160px;
   z-index: 1;
}
.sort-options2 {
   display: none;
   flex-direction: column;
   position: absolute;
   background-color: white;
   border: 2px solid #7e32d4;
   color: #7e32d4;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   min-width: 160px;
   z-index: 1;
}

.sort-choice:hover {
   cursor: pointer;
   border: 2px solid #7232d4;
}

.tag-choice:hover {
   cursor: pointer;
   border: 2px solid #7e32d4;
}

.active-tag:hover {
   cursor: pointer;
}

.btn:hover {
   background-color: #d8d7d7;
   cursor: pointer;
}

 .dropdown-menu:hover .menu-btn {
   background-color: #8e54cf;
   cursor: pointer;
 }